@font-face {
    font-family: 'SEGA LOGO FONT';
    font-style: normal;
    font-weight: normal;
    src: local('SEGA LOGO FONT'), url('SEGA.woff') format('woff');
    }


h1{
    font-family: 'SEGA LOGO FONT';
    font-weight: 100;
    color: white;
    word-spacing: 0.5em;
    text-align: center;
}

span{
    margin: 50px;
}
.App-logo {
    height: 10vmin;
    text-align: right;
  }


/*  you can use it if you want it, give it a try :) */

/*   
  @media (prefers-reduced-motion: no-preference) {
    .App-logo {
      animation: App-logo-spin infinite 20s linear;
    }
  } */


  /* @keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  } */